{% include "head.html" %}



<body>

<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="glyphicon glyphicon-list"></span>
      </button>
      <a class="navbar-brand" href="/" style="padding-right:50px;">{{ app.config['SERVICE_NAME'] }}</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav pull-right">
        {% if current_user.is_anonymous() %}
        <li><a href="{{url_for('account.login')}}">Login</a></li>
        {% else %}
        <li class="dropdown" style="background-color:#f04717;color:#212f3f;">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:black;"><span class="glyphicon glyphicon-cog"></span> <b class="caret"></b></a>
          <ul class="dropdown-menu" style="background-color:#eee;">
            <li><a href="{{ url_for('account.index') }}{{current_user.id}}">Your account</a></li>
            <li><a href="{{ url_for('account.index') }}logout">Logout</a></li>
            {% if current_user.is_super %}
            <li class="divider"></li>
            <li><a href="{% if record %}{{ record.url }}{% else %}/index{% endif %}/edit">Edit this page</a></li>
            <li><a href="{% if record %}{{ record.url }}{% else %}/index{% endif %}/settings">Settings for this page</a></li>
            <li class="divider"></li>
            <li><a href="/account">Manage user accounts</a></li>
            {% endif %}
          </ul>
        </li>
        {% endif %}

        {% if current_user.is_anonymous() %}
        <li style="background-color:#f04717;color:#212f3f;height:55px;z-index:10000;
        -webkit-border-bottom-right-radius: 5px;-webkit-border-bottom-left-radius: 5px;
        -moz-border-radius-bottomright: 5px;-moz-border-radius-bottomleft: 5px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;">
        <a href="/#download" style="font-size:1.2em;font-weight:bold;color:black;" id="bfb">Download</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>

{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
{% for category, message in messages %}
<div class="container" style="padding:0;margin-top:0;margin-bottom:0;">
    <div class="alert alert-{{category}} fade in" data-alert="alert" style="z-index:1001;margin-top:5px;">
        <a class="close" data-dismiss="alert" href="#" style="font-size:1.4em;">&times;</a>
        {{ message }}
    </div>
</div>
{% endfor %}
{% endif %}
{% endwith %}



{% block content %}{% endblock %}

{% if current_user.is_anonymous() and request.path not in ['/account/login','/account/forgot'] and request.path.lstrip('/').split('/')[0] not in ['docs'] %}
<a name="download"> </a>
<div class="strap strap-white" id="downloadbox">
    <div class="container">
        <h1>DOWNLOAD</h1>
        <h1 style="margin-top:0px;">REGISTER</h1>
        <div class="row">
            <div class="col-md-3">
                <img class="img" src="/static/oabutton_logo_final200.png" style="height:200px;">
            </div>
            <div class="col-md-9">
                <p>(If you already have an <a target="_blank" href="https://openaccessbutton.org"></a>Open Access Button</a>, you can go straight to <a href="/account/login">login</a> with the same account details!)</p>
                <form id="signupform" method="post" action="{{url_for('account.register')}}">
                <p>
                    <input id="id_name" name="w" placeholder="Username (required)" type="text" class="form-control" 
                    {% if form %}{% if form.w %}{% if form.w.data %}value="{{ form.w.data }}"{% endif %}{% endif %}{% endif %}></p>
                    {% if form %}{% if form.w %}{% if form.w.errors %}<p style="color:red;font-size:0.8em;padding:0 0 10px 10px;margin:-5px 0 0 0;">{{ ", ".join(form.w.errors) }}</p>{% endif %}{% endif %}{% endif %}
                <p>
                    <input id="id_email" name="n" placeholder="Email address (required)" type="text" class="form-control"
                    {% if form %}{% if form.n %}{% if form.n.data %}value="{{ form.n.data }}"{% endif %}{% endif %}{% endif %}></p>
                    {% if form %}{% if form.n %}{% if form.n.errors %}<p style="color:red;font-size:0.8em;padding:0 0 10px 10px;margin:-5px 0 0 0;">{{ ", ".join(form.n.errors) }}</p>{% endif %}{% endif %}{% endif %}
                <p>
                    <input type="password" name="s" placeholder="password" class="form-control"></p>
                    {% if form %}{% if form.s %}{% if form.s.errors %}<p style="color:red;font-size:0.8em;padding:0 0 10px 10px;margin:-5px 0 0 0;">{{ ", ".join(form.s.errors) }}</p>{% endif %}{% endif %}{% endif %}
                </p>
                <p>
                    <input type="password" name="c" placeholder="confirm password" class="form-control"></p>
                    {% if form %}{% if form.c %}{% if form.c.errors %}<p style="color:red;font-size:0.8em;padding:0 0 10px 10px;margin:-5px 0 0 0;">{{ ", ".join(form.c.errors) }}</p>{% endif %}{% endif %}{% endif %}
                <p><select id="id_profession" name="profession" class="form-control">
                    <option value="Student" 
                    {% if form %}{% if form.profession %}{% if form.profession.data == "Student" %}selected="selected"{% endif %}{% endif %}{% endif %}
                    >Student</option>
                    <option value="Doctor"
                    {% if form %}{% if form.profession %}{% if form.profession.data == "Doctor" %}selected="selected"{% endif %}{% endif %}{% endif %}
                    >Doctor</option>
                    <option value="Patient"
                    {% if form %}{% if form.profession %}{% if form.profession.data == "Patient" %}selected="selected"{% endif %}{% endif %}{% endif %}
                    >Patient</option>
                    <option value="Advocate"
                    {% if form %}{% if form.profession %}{% if form.profession.data == "Advocate" %}selected="selected"{% endif %}{% endif %}{% endif %}
                    >Advocate</option>
                    <option value="Academic"
                    {% if form %}{% if form.profession %}{% if form.profession.data == "Academic" %}selected="selected"{% endif %}{% endif %}{% endif %}
                    >Academic</option>
                    <option value="Researcher"
                    {% if form %}{% if form.profession %}{% if form.profession.data == "Researcher" %}selected="selected"{% endif %}{% endif %}{% endif %}
                    >Researcher</option>
                    <option value="Librarian"
                    {% if form %}{% if form.profession %}{% if form.profession.data == "Librarian" %}selected="selected"{% endif %}{% endif %}{% endif %}
                    >Librarian</option>
                    <option value="Other"
                    {% if form %}{% if form.profession %}{% if form.profession.data == "Other" %}selected="selected"{% endif %}{% endif %}{% endif %}
                    >Other</option>
                    <option value="Undisclosed"
                    {% if form %}{% if form.profession %}{% if form.profession.data == "Undisclosed" %}selected="selected"{% endif %}{% endif %}{% endif %}
                    >Prefer not to say</option>
                </select></p>
                <div class="checkbox"><input id="id_confirm_public" name="confirm_public" type="checkbox" />
                <label for="id_confirm_public" class="confirm-label">I understand that information obtained by this button will be publicly accessible</label>
                {% if form %}{% if form.confirm_public %}{% if form.confirm_public.errors %}<p style="color:red;font-size:0.8em;padding:0 0 10px 10px;margin:-5px 0 0 0;">{{ ", ".join(form.confirm_public.errors) }}</p>{% endif %}{% endif %}{% endif %}
                </div>
                <div class="checkbox"><input id="id_confirm_terms" name="confirm_terms" type="checkbox" />
                <label for="id_confirm_terms" class="confirm-label">I have read the 
                <a target="_blank" href="/privacy">privacy policy</a> and I agree 
                to the <a target="_blank" href="/terms">terms</a></label>
                {% if form %}{% if form.confirm_terms %}{% if form.confirm_terms.errors %}<p style="color:red;font-size:0.8em;padding:0 0 10px 10px;margin:-5px 0 0 0;">{{ ", ".join(form.confirm_terms.errors) }}</p>{% endif %}{% endif %}{% endif %}
                </div>
                <div class="checkbox"><input id="id_mailinglist" name="mailing_list" type="checkbox" />
                <label for="id_mailinglist" class="mailinglist-label">I would like to be added to the Mailing List</label>
                {% if form %}{% if form.mailing_list %}{% if form.mailing_list.errors %}<p style="color:red;font-size:0.8em;padding:0 0 10px 10px;margin:-5px 0 0 0;">{{ ", ".join(form.mailing_list.errors) }}</p>{% endif %}{% endif %}{% endif %}
                </div>
                <p style="font-size:0.9em;color:#bbb;">( Your e-mail address will NOT be publicised or shared with third parties. )</p>
                <p><input type="submit" class="btn btn-lg btn-block btn-action" name="submit" value="get your Trust app"></p>
                <p><input id="m" type="text" name="m"></p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}



<div class="strap strap-compact" id="footer" style="background-color:black;min-height:400px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                
            </div>
        </div>
    </div>
</div>

<script>

jQuery(document).ready(function($) {
    //$('#m').hide()
    $('#m').css({
        "border":"none",
        "background":"none",
        "cursor":"default",
        "-moz-box-shadow":"none",
        "-webkit-box-shadow":"none",
        "box-shadow":"none"
    })
    var signup = function(event) {
        event.preventDefault()
        if ( $('#m').val() == "" ) {
            $('#signupform').submit()
        } else {
            alert("Are you human? If so, don't put anything in that last box...")
        }
    }
    $('#signup').bind('click',signup)
});

// put google analytics here, if any 
    
</script>

</body>
</html>